<%- include('../partials/header.ejs') %>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Blogs</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  All Blogs
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12 d-flex flex-wrap">
          <% blogs.forEach((blog)=>{ %>
            <div class="col-12 col-lg-6 px-2 py-2">
              <div class="col-12">
                <div class="card1">
                  <div class="card__shine"></div>
                  <div class="card__glow"></div>
                  <div class="card__content">
                    <div style="--bg-color: #a78bfa" class="card__image">
                      <img src="/<%= blog.image %>" width="100%" alt="<%= blog.title %>">
                    </div>
                    <div class="card__text">
                      <p class="card__title">
                        <%= blog.title %>
                      </p>
                      <p class="card__title fw-normal">
                        <%= blog.category %>
                      </p>
                      <p class="card__description">
                        <%= blog.description %>
                      </p>
                      <p class="card__title fw-normal py-2">
                        <% const date=new Date(blog.createdAt); const formattedDate=date.getDate() + '/' +
                          (date.getMonth()+1) + '/' + date.getFullYear(); %>
                          <%= formattedDate %>
                      </p>
                    </div>
                    <div class="card__footer">
                      <% allusers.forEach((u)=>{ %>
                        <% if(blog.userID.toString()===u._id.toString()){ %>
                          <div class="card__price">By:- <%= u.name %>
                          </div>
                          <% } %>
                            <% }) %>
                              <div class="card__button">
                                <svg height="16" width="16" viewBox="0 0 24 24">
                                  <path stroke-width="2" stroke="currentColor" d="M4 12H20M12 4V20" fill="currentColor">
                                  </path>
                                </svg>
                              </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <%- include('../partials/footer.ejs') %>